github "SwiftyJSON/SwiftyJSON"
github "onevcat/Kingfisher"
github "yeahdongcn/RSBarcodes_Swift"
github "Alamofire/Alamofire"
github "Hearst-DD/ObjectMapper"
github "skywinder/ActionSheetPicker-3.0"
github "sebhaub/MarkdownTextView"